<div style="width: 100%">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <div data-dojo-type="${amdFolder}lrscommon/js/form/MeasureValidationTextBox" data-dojo-attach-point="_measureInput" 
                    style="width: 100%; margin: 2px 0px;"></div>
            </td>
            <td width="35px" style="text-align: center">
                <div data-dojo-type="${amdFolder}lrscommon/js/form/ToggleButton" data-dojo-attach-point="_chooseMeasureButton" 
                    data-dojo-attach-event="onChange:_onChooseMeasureButtonChange" data-icon="selectMeasureIcon" title="${nls.selectMeasureTooltip}"></div>
            </td>
        </tr>
    </table>
</div>