<div style="width: 100%">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <div data-dojo-type="${amdFolder}lrscommon/js/form/RouteComboBox" data-dojo-attach-point="_routeInput" 
                    data-dojo-attach-event="onChange:_onRouteInputChange" style="width: 100%; margin: 2px 0px;"></div>
            </td>
            <td width="35px" style="text-align: center">
                <div data-dojo-type="${amdFolder}lrscommon/js/form/ToggleButton" data-dojo-attach-point="_chooseRouteButton" 
                    data-dojo-attach-event="onChange:_onChooseRouteButtonChange" data-icon="selectRouteIcon" title="${nls.selectRouteTooltip}"></div>
            </td>
        </tr>
    </table>
</div>